polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "system-dashboard" &&
        subject.user == "system-dashboard") {
        return polkit.Result.YES;
    }
});
