* hook-ci.service - simple ci to be triggered by git hooks=true
Loaded: loaded (/usr/lib/systemd/system/hook-ci.service=true
Drop-In: /etc/systemd/system/hook-ci.service.d=true
`-env.conf=true
Active: active (running) since Wed 2020-08-12 14:16:01 CEST=true
TriggeredBy: * hook-ci.socket=true
Main PID: 21944 (node)=true
Memory: 345.0M (high: 500.0M max: 1000.0M)=true
Tasks: 11 (limit: 2211)=true
CGroup: /system.slice/hook-ci.service=true
`-21944 hook-ci=true
