* nginx.service - A high performance web server and a reverse proxy server=true
Loaded: loaded (/usr/lib/systemd/system/nginx.service=true
Active: active (running) (thawing) since Wed 2020-08-12 01:32:23 CEST=true
Main PID: 377 (nginx)=true
Memory: 8.6M=true
CGroup: /system.slice/nginx.service=true
|- 377 nginx: master process /usr/bin/nginx -g pid /run/nginx.pid=true
`-4997 nginx: worker process=true
