* workspace.mount - /workspace=true
Loaded: loaded (/etc/fstab=true
Active: active (mounted) since Wed 2020-08-12 01:32:13 CEST=true
Where: /workspace=true
What: /dev/sdb1=true
Docs: man:fstab(5)=true
man:systemd-fstab-generator(8)=true
Memory: 236.0K=true
CGroup: /system.slice/workspace.mount=true
